.tab_swash {
}
.tab_swash input[type="number"]::-webkit-inner-spin-button {
    border: 0;
}
.tab_swash .supported_wrapper,
.tab_swash .direction_wrapper {
    display: none;
}
.tab_swash .title {
    margin-top: 10px;

    line-height: 20px;
    text-align: center;
    font-weight: bold;

    border: 1px solid #8b8b8b;
    border-bottom: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #ececec;
}
.tab_swash .left {
    float: left;
    margin-right: 5px;
    margin-left: 0px;
    width: calc(30% );
    min-width: 240px;
}

.tab_swash .right {
    float: left;
    margin-right: 5px;
    margin-left: 0px;
    width: calc(30% );
    min-width: 240px;
}

.tab_swash .swashmixing {
    float: left;
    margin-right: 0px;
    margin-left: 0px;
    width: calc(40% - 15px);
}

.tab_swash .table1,  .tab_swash .table2{
    width: calc(100%);
}

.tab_swash .xyplotcolumn {
    width: calc(90%);
    min-width: 210px;
}

.tab_swash .collectiveplotcolumn {
    min-width: 42px;
}

.tab_swash .xyplot {
    width: calc(100%);
}

.tab_swash .axis path {
  display: none;
}

.tab_swash .axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}

.tab_swash .axis .minor line {
  stroke: #777;
  stroke-dasharray: 2,2;
}

.tab_swash circle {
    border-bottom: 1px solid silver;
    background-color: #37a8db;
}

 
rect {
	fill: silver;
}

circle.cyclicring {
	fill: white;
	fill-opacity: 0.3;
	border:none;
}

circle.indicator {
    border-bottom: 1px solid silver;
    fill: #37a8db;
}

rect.indicator {
    border-bottom: 1px solid silver;
    fill:  #37a8db;
}

rect.trimming {
    border-bottom: 1px solid silver;
    fill: black;
	}
.tab_swash text.indicatortext {
    stroke: black;
    font-family: monospace;
    font-size: 12px;
	dominant-baseline: central;
}


text.indicatortext:hover {
    stroke: #37a8db;
}

.trimbox {
    fill: #ececec;
	border: 1px;
	stroke:none;
	margin-left: 1px;
	margin-right: 1px;
}

.trimboxclick {
    fill: black;
	border: 1px;
	stroke:none;
	margin-left: 1px;
	margin-right: 1px;
	fill-opacity: 0.3;
}

.trimboxclick:hover {
    fill:  #37a8db;
	fill-opacity: 1.0;
}

rect.collectiverange {
	fill: white;
	fill-opacity: 0.3;
	border:none;
}

.tab_swash .number {
    margin-bottom: 5px;
}
.tab_swash .number input {
    width: 50px;
    height: 18px;
    line-height: 18px;

    text-align: right;

    border: 1px solid silver;
}
.tab_swash .number span {
    margin-left: 5px;
    margin-right: 5px;
    line-height: 20px;
}

.tab_swash .buttons {
    width: calc(100% - 20px);

    position: absolute;
    bottom: 10px;
}
.tab_swash .update,
.tab_swash .refresh {
    display: block;
    float: right;

    margin-top: 22px;

    height: 28px;
    line-height: 28px;

    padding: 0 15px 0 15px;

    text-align: center;
    font-weight: bold;

    border: 1px solid silver;
    background-color: #ececec;
}
.tab_swash .refresh {
    margin-right: 10px;
}
.tab_swash .update:hover,
.tab_swash .refresh:hover {
    background-color: #dedcdc;
}

.tab_swash  table.fields {
    width: 100%;
    border-collapse: collapse;
}
.tab_swash table.fields th {
    line-height: 20px;
    text-align: center;

    border: 1px solid #8b8b8b;
}
.tab_swash table.fields td {
    padding: 1px;

    border: 1px solid #8b8b8b;
}

.tab_swash table.fields input[type="number"] {
    display: block;

    width: 60px;
    height: 20px;

    line-height: 20px;

    text-align: right;
}
